.container {
    display: flex;
    align-items: flex-start;
}
.table-container {
    flex: 1;
}
.image-container {
    flex: 1;
    padding-left: 20px; /* Ajusta este valor según sea necesario */
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.seccionFincaIral{
    margin-top: 10%;
    background-color: bisque;
}

.image-container {
    flex: 1;
    margin-left: 10%;

}