.foto{
    width: 40vw;
    height: 100vh;
}


.logo{
    width: 20vw;
    border-radius: 50%;
    margin-top: 5%;
}
.titulo-precios{
    margin-top: 20%;
    overflow: hidden;
}

.navBar{
    text-decoration:none;
    list-style: none;
}

a{
    text-decoration: none;
}
.seccion{
    border-bottom: 5px solid white;
}