.logo-primogenito{
    width: 15%;
}

.titulo-primogenito{
    font-family: "Bona Nova SC", serif;
    font-size:x-large;
    margin-top: 5%;
    height: 100px;
}





/* MEDIA QUERIESSSS  */

@media(max-width:1000px){
    .table{
        width: 80%;
    }
    .titulos-estilo{
        font-size:smaller;
    }
    .descripcion{
        font-size: small;
    }
    .cardQueries{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        
    }
    .cardConteinerP{
        width: 50%;
        height: 400px;
    }
    .img-cardP{
        height: 200px !important;
    }
    .titulo-primogenito{
        font-size: 17px;
        margin-top: 15%;
        height: 80px;
    }
    .titulo-origen{
        font-size:10px;
    }
    .boton-detalleP{
        height: 8%;
    }

}


@media (max-width:425px){
    @media (max-width:425px){
        .cardQueriesCe{
            grid-template-columns: repeat(1,1fr) !important;
        }
        .titulos-estiloC{
            font-size:10px;
        }
    
        .descripcionC{
            font-size: 10px;
        }
        
    }
}
