*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  background-color: black;
}

a{
  text-decoration: none;
}


/* diseño fotos vinos al lado de las tablas  */

.container {
  display: flex;
  align-items: center;
}
.table-container {
  flex: 1;
}
.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}


.logoBodegas{
  width: 15%;
}

.cardConteiner{
  width: 70%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 10px 4px grey;
  border: 5px solid grey;
  text-align: center;
}

.img-card{
  height: 350px;
}


.img-detalle{
  width: 700px;
}
